fastapi
uvicorn[standard]

# File Uploading
python-multipart

# Database
sqlalchemy
alembic
psycopg2-binary
pgvector

# Authentication
authlib
python-jose[cryptography]
itsdangerous
pwdlib[argon2]
slowapi

# Environment
python-dotenv

# Cache / OTP
upstash-redis
httpx
 
# Validation
pydantic
pydantic[email]
email-validator

# PDF Processing
PyMuPDF 

# LangChain / RAG
langchain
langchain-core
langchain-community
langchain-text-splitters 

# LLM 
langchain-groq

# Embeddings
langchain-google-genai